*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: conic-gradient(rgb(53, 238, 238), rgb(28, 171, 168), rgb(86, 191, 184), rgb(35, 178, 189), rgb(53, 238, 238));
}
.container {
    padding: 2em;
    width: 20em;
    background-color: #fff;
}
#question,
#question-num,
#results-title,
.btns button,
.results p:nth-child(n+2) {
    margin-bottom: 1em;
}
#question-num,
.btns button {
    width: fit-content;
    padding: 0.5em;
    background-color: rgb(60, 171, 179);
}
#question {
    font-size:1.4em;
    padding: 0.5em;
    background-color: rgba(128, 128, 128, 0.164);
}
.btns {
    display: grid;
}
.btns button {
    width: 8em;
    border: none;
    text-align: start;
    padding-left: 1.5em;
    box-shadow: 0.2em 0.2em 0.1em rgba(118, 118, 118, 0.802);
}
.btns button:hover,
#question-num:hover {
    cursor: pointer;
    margin-left: 1em;
    transition: margin-left 0.5s ease-out;
}
.results {
    display: none;
    padding: 2em;
}
.results p:nth-child(n+2) {
    border-radius: 0;
    padding-bottom: 0.3em;
    text-transform: capitalize;
    border-bottom: solid 1px rgb(204, 197, 197);
}
